<!-- Begin Download Page -->
<section ng-controller="DownloadController">
    <!-- Begin Container -->
    <div class="container">
        <!-- Begin Page Fully Loaded With No Errors -->
        <div id="pageShow" class="" ng-if="pageFullyLoaded">
            <!-- Begin Body -->
            <div class="card card--border--none card--radius--none card-body box-shadow--sm card-min-height">
                <div class="row">
                    <!-- Begin iOS /dist/img/ -->
                    <div id="download-header" class="col-md-6">
                        <img src="/dist/img/apple.png" class="img-fluid btn-cursor-pointer w-100" alt="apple" ng-click="downloadApp('apple')" ng-if="env == 'developmentp'">
                        <img src="/modules/core/client/img/icons/apple.png" class="img-fluid btn-cursor-pointer w-100" alt="apple" ng-click="downloadApp('apple')" ng-if="env == 'development'">
                    </div>
                    <!-- End iOS -->
                    <!-- Begin Android -->
                    <div id="download-header" class="col-md-6">
                        <img src="/dist/img/android.png" class="img-fluid btn-cursor-pointer w-100" alt="android" ng-click="downloadApp('android')" ng-if="env == 'developmentp'">
                        <img src="/modules/core/client/img/icons/android.png" class="img-fluid btn-cursor-pointer w-100" alt="android" ng-click="downloadApp('android')" ng-if="env == 'development'">
                    </div>
                    <!-- End Android -->
                </div>
                <h1 class="text-black text-center mt-2">Hi there, select your platform to download Recess</h1>
            </div>
            <!-- End Body -->
        </div>
        <!-- End Page Fully Loaded With No Errors -->
    </div>
    <!-- End Container -->
</section>
<!-- End Download Page -->